<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom ">
        <h1 class="h2">داشبورد</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ml-2">
            <button class="btn btn-sm btn-outline-secondary" ><a class="btn btn-sm btn-outline-dark" class="text-decoration-none"  href="/admin/categories/create"> دسته بندی جدید</a></button>
            <button class="btn btn-sm btn-outline-secondary" href=""><a class="btn btn-sm btn-outline-secondary" class="text-decoration-none" href="/admin/courses/create">پست جدید</a></button>
            </div>

        </div>
    <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ml-2">
            <button class="btn btn-sm btn-outline-secondary" href=""><a class="btn btn-sm btn-outline-dark" class="text-decoration-none" href="/admin/categories">دسته بندی ها</a></button>
            <button class="btn btn-sm btn-outline-secondary" href=""><a class="btn btn-sm btn-outline-secondary" class="text-decoration-none" href="/admin/courses">پستها</a></button>
            </div>

        </div>
        </div>



