<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom ">
        <h1 class="h2">داشبورد</h1>
        <div class=" mb-2 mb-md-0">

            <div class="">
            <button class="btn btn-sm btn-outline-secondary" href=""><a class="btn btn-sm btn-outline-secondary" class="text-decoration-none" href="/admin/courses">جک جدید</a></button>
                <a href="/admin/tabliq" class="btn btn-sm btn-outline-dark">بخش تبلیغ ها</a>

            </div>

        </div>
        </div>



