



<div class="p-3 mt-5 " style="background: linear-gradient(90deg, #003a59 0%, #7f1517 100%)"
>
    <div class="  ">
        <h2 class="d-flex justify-content-center text-white p-3">
            <span class="badge-info p-2">درباره بیت اسپایدر</span>
        </h2>

        <p class="  text-white mb-3 d-flex  justify-content-center" >
        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">   بخش آموزش حرکات</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >


        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">      بخش برنامه ها یا پلن های تمرینی</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >



        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">   بخش مجله ورزشی</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >

        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">       حق نشر محتوای آموزشی</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center " >


        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">     قیمت گذاری و نحوه پرداخت</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >

        </p>

        <h2 class="d-flex justify-content-center text-white p-3">
            <span class=" p-2">  نکات بیشتر</span>
        </h2>
        <p class="  text-white mb-3 d-flex  justify-content-center" >



        </p>


    </div>
</div><div class="p-3 mt-5 " style="background: linear-gradient(90deg, #003a59 0%, #7f1517 100%)"
>
    <div class="  ">
        <h2 class="d-flex justify-content-center text-white">
            <span class="badge-info p-2">BitSpider</span>
        </h2>
        <h1 class="  text-white mb-3 d-flex  justify-content-center">
        </h1>

        <div class="d-flex justify-content-center">

            <div class="col-12 col-md-12 d-flex justify-content-center ">
                <a class=" btn-info btn  p-3  font-weight-bold" href="/land"> معرفی وبسایت →</a>
            </div>
        </div>

    </div>
</div>