<!--second nav with category and search-->



<%
 let {category} = req.query
 %>

<div>


    <div class="test pt-5 ">
        <div id="particles-js" style="background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);"></div>
        <div class="p-5 ">
            <div  class="col-md-12 p-5 col-12 text-white " >
                <h2 class=" font-weight-bold  p-3"> اپلیکیشن  <span class="badge-success p-1 " style="background: #009688">بمب خنده</span>  با رویکردی جذاب!</h2>
                <h4 class="pt-2 pb-2 d-none d-sm-block "> به روز و کاربردی برای بهبود وضعیت روحی شما</h4>
                <h6 class="pt-2 d-none d-sm-block "> مطالب مرتبط باسرگرمی, جوک , لطیفه  را میتوانید بطور مرتب در اپلیکشین ما بخوانید...</h6>
                <div class="col-md-12 col-12 p-2  ">
                    <img class="cardHeight " src="http://localhost:3001/undraw_smiley_face_lmgm(1).svg" alt="fitex">
                </div>
            </div>

        </div>
        </div>


    </div>





















<!-- particles.js container --> <div >
    <div class="p-3 mt-5 " style="  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);   "
    >
        <div class="  ">
            <h2 class="d-flex justify-content-center text-white">
                <span class="badge-danger p-2" >بمب خنده</span>
            </h2>
            <h1 class="  text-white mb-3 d-flex  justify-content-center">
حالا دانلود کنید            </h1>
            <!--<h6 class="  text-white mb-3 d-flex  justify-content-center" >از والت استفاده کنید , ارز دیجیتال چنج کنید</h6>-->
            <!--<h6 class="  text-white mb-3 d-flex  justify-content-center" >سفارش های خرید یا فروشتان را ثبت کنید</h6>-->
            <div class="d-flex justify-content-center">

                <div class="col-12 col-md-12 d-flex justify-content-center ">
                    <a class=" btn-danger btn  p-3  font-weight-bold" href="/" style="background: "> دانلود اپلیکیشن →</a>
                </div>
            </div>

        </div>
    </div>
</div>



<script>particlesJS("particles-js", {"particles":{"number":{"value":160,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":1,"random":true,"anim":{"enable":true,"speed":1,"opacity_min":0,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":4,"size_min":0.3,"sync":false}},"line_linked":{"enable":false,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":1,"direction":"none","random":true,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":600}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":true,"mode":"bubble"},"onclick":{"enable":true,"mode":"repulse"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":250,"size":0,"duration":2,"opacity":0,"speed":3},"repulse":{"distance":400,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;</script>



